*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(31,64,118,255);
}
header{
    text-align: center;
    font-size: 5em;
    color: white;
    margin-top: 20px;
}

.confetti{
    position: absolute;
    top: 0;
    left: 0;
}


main{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
#game-area{
    display: none;
    width: 80%;
    margin: 20px;
    justify-content: center;
    text-align: center;
    height: 75vh;
}
#game-area h1{
    font-size: 7em;
    margin-top: 200px;
}
#select-mode-area{
    display: block;
}
button{
    background-color:rgba(255,122,13,255) ;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 4em;
    margin-right: 20px;
    padding: 10px 30px;
}
button:hover{
    cursor: pointer;
}

.card{
    background-color: white; 
    height: 50%;
    padding: 2px 12px;
    margin: 10px;
    width: calc(50%-20px);
}
img{
    animation-duration: 2s; /* don't forget to set a duration! */
    width: 100%;
    height: 100%;
}

